@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/aleo-regular-webfont.eot');
    src: url('../fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aleo-regular-webfont.woff') format('woff'), url('../fonts/aleo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleobold';
    src: url('../fonts/aleo-bold-webfont.eot');
    src: url('../fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aleo-bold-webfont.woff') format('woff'), url('../fonts/aleo-bold-webfont.ttf') format('truetype'), url('../fonts/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 16px/18px 'Arial';
    color: #162921;
    background: #f9f9f9;
    overflow-y: scroll;
}

a {
    color: #162921;
}

p {
    margin: 0 0 15px 0;
}

h2 {
    margin: 40px 0 15px 0;
    font: 24px/30px 'aleobold', 'Arial';
    -webkit-font-smoothing: antialiased;
}

h3 {
    margin: 25px 0 15px 0;
    font: 20px/25px 'aleobold', 'Arial';
    -webkit-font-smoothing: antialiased;
}

ul {
    margin: 0 0 15px 0;
    padding: 0 0 0 15px;
    list-style: disc outside;
}

.main-wrapper {
    min-height: 100%;
    /*padding-bottom: 100px;*/
    box-sizing: border-box;
    /*overflow: hidden;*/
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6 {
    margin: 0 10px;
    float: left;
}

.span5 {
    width: 380px;
}

.span6 {
    width: 460px;
}

.offset1 {
    margin-left: 90px;
}

.offset2 {
    margin-left: 170px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.main-wrapper:before,
.wrapper:before,
.span:before,
.cf:before,
.wrapper:after,
.span:after,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.main-wrapper:before,
.wrapper:after,
.span:after,
.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: rgba(249, 249, 249, 0.9);
}

.header .wrapper {
    padding: 22px 0 22px 90px;
}

.header a,
.header span {
    float: left;
    text-decoration: none;
    line-height: 15px;
    position: relative;
}

a.logo-link,
span.fake-logo-link {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 60px;
    height: 40px;
    background: url('../img/logo-s.png') 50% 50% no-repeat;
}

.menu-link {
    margin-left: 21px;
    margin-right: 20px;
    border-bottom: 1px solid #b3bab7;
}

span.menu-link {
    border: none;
}

.header a:hover {
    border-bottom-color: #162921;
}

.faq:before,
.discus:before,
.contact:before,
.demo:before,
.documentation:before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    left: -21px;
    background: url('../img/sprite.png') no-repeat;
}

.demo:before {
    background-position: -20px 0;
}

.contact:before {
    background-position: -40px 0;
}

.discus:before {
    background-position: -60px 0;
}

.faq:before {
    background-position: -80px 0;
}

.language-bar {
    float: right;
}

.language-bar span,
.language-bar a {
    margin-left: 10px;
}

.language-bar span {
    color: #b3bab7;
}

.language-bar a {
    border-bottom: 1px dashed #b3bab7;
}

.banner {
    margin: 110px 0 50px 0;
    background: url('../img/bg.jpg') 50% 50% no-repeat;
}

.phones {
    width: 460px;
    height: 708px;
    background: url('../img/phones.png') no-repeat;
    margin-top: -50px;
    margin-bottom: -68px;
    position: relative;
}

.iphone-screen {
    position: absolute;
    top: 102px;
    left: 27px;
    width: 280px;
    height: 496px;
}

.iphone-screen.warning {
    background: #ffffff;
    padding: 10px;

    text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}

.tryRad {
    position: absolute;
    top: 584px;
    left: 312px;
    width: 279px;
    height: 84px;
    background: url('../img/sprite.png') 0 -20px no-repeat;
}

.logo-banner {
    margin: 40px 0;
    height: 55px;
    background: url('../img/logo-banner.png') no-repeat;
    text-indent: -9999px;

}

.bunner-text {
    font: 24px/30px 'aleobold';
    -webkit-font-smoothing: antialiased;
    color: #2f4441;
}

.banner-button {
    float: left;
    text-decoration: none;
    font: bold 24px/70px 'Arial';
    width: 185px;
    border-radius: 10px;
    text-align: center;
    margin: 40px 0 0 0;
}

.download {
    color: #0f2714;
    box-shadow: 0 -1px 0px #eaead1, 0 1px 0px #1a3920;
    text-shadow: 0 1px 0 #4d8358;
    background: #386d43;
    background: -moz-linear-gradient(top, #386d43 0%, #224e2b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #386d43), color-stop(100%, #224e2b));
    background: -webkit-linear-gradient(top, #386d43 0%, #224e2b 100%);
    background: -o-linear-gradient(top, #386d43 0%, #224e2b 100%);
    background: -ms-linear-gradient(top, #386d43 0%, #224e2b 100%);
    background: linear-gradient(to bottom, #386d43 0%, #224e2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#386d43', endColorstr='#224e2b', GradientType=0);
}

.git {
    margin-left: 10px;
    color: #242825;
    box-shadow: 0 -1px 0px #e3e6ce, 0 1px 0px #6c8771;
    text-shadow: 0 1px 0 #cacbca;
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #7d9281 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #7d9281));
    background: -webkit-linear-gradient(top, #cccccc 0%, #7d9281 100%);
    background: -o-linear-gradient(top, #cccccc 0%, #7d9281 100%);
    background: -ms-linear-gradient(top, #cccccc 0%, #7d9281 100%);
    background: linear-gradient(to bottom, #cccccc 0%, #7d9281 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#7d9281', GradientType=0);
}

.footer {
    margin: -80px 0 0 0;
}

.footer:before {
    content: '';
    display: block;
    height: 10px;
    background: url('../img/bg.jpg') 50% 50% no-repeat;
}

.docmentation-content {
    padding-top: 45px;
    margin-left: 330px;
}

.docmentation-content h2 {
    margin: 25px 0 10px 0;
    font: 20px/25px 'aleobold', 'Arial';
    -webkit-font-smoothing: antialiased;
}

.docmentation-content h3 {
    margin: 20px 0 10px 0;
    font: 18px/23px 'aleobold', 'Arial';
    -webkit-font-smoothing: antialiased;
}

.docmentation-content h4 {
    margin: 10px 0;
    font: 16px/20px 'aleobold', 'Arial';
    -webkit-font-smoothing: antialiased;
}

.side-menu {
    position: fixed;
    top: 60px;
    left: 50%;
    bottom: 0px;
    width: 300px;
    overflow-y: scroll;
    margin-left: -480px;
    background: #f9f9f9;
}

.side-menu ul {
    margin: 5px 0 10px;
    list-style: disc inside;
}

.side-menu>ul {
    padding-bottom: 50px;
}

.side-menu a {
    text-decoration: none;
    border-bottom: 1px dashed #b3bab7;
}

.side-menu a:hover {
    border-bottom: 1px solid #162921;
}

.side-menu li {
    padding: 1px 0;
}

.side-menu ul a {
    font-size: 17px;
}

.side-menu ul ul {
    list-style-type: square
}

.side-menu ul ul ul {
    list-style-type: none;
}

.side-menu ul ul a {
    font-size: 15px;
}

.side-menu ul ul ul a {
    font-size: 14px;
}

.loading-ico {
    width: 40px;
    height: 30px;
    position: relative;
}

.l1,
.l2,
.l3 {
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0.9;
}

.l1 {
    left: 0;
    top: 10px;
    background: #acb568;
    animation: l1 1s infinite;
    -webkit-animation: l1 1s infinite;
}

.l2 {
    left: 20px;
    top: 10px;
    background: #175e43;
    animation: l2 1s infinite;
    -webkit-animation: l2 1s infinite;
}

.l3 {
    left: 10px;
    top: 0;
    background: #2b3d2c;
    animation: l3 1s infinite;
    -webkit-animation: l3 1s infinite;
}

@keyframes l1 {
    0% {
        top: 10px;
        left: 0px;
    }
    33% {
        top: 10px;
        left: 20px;
    }
    66% {
        top: 0px;
        left: 10px;
    }
}

@-webkit-keyframes l1 /* Safari and Chrome */
{
    0% {
        top: 10px;
        left: 0px;
    }
    33% {
        top: 10px;
        left: 20px;
    }
    66% {
        top: 0px;
        left: 10px;
    }
}

@keyframes l2 {

    0% {
        top: 10px;
        left: 20px;
    }
    33% {
        top: 0px;
        left: 10px;
    }
    66% {
        top: 10px;
        left: 0px;
    }
}

@-webkit-keyframes l2 /* Safari and Chrome */
{

    0% {
        top: 10px;
        left: 20px;
    }
    33% {
        top: 0px;
        left: 10px;
    }
    66% {
        top: 10px;
        left: 0px;
    }
}

@keyframes l3 {
    0% {
        top: 0px;
        left: 10px;
    }
    33% {
        top: 10px;
        left: 0px;
    }
    66% {
        top: 10px;
        left: 20px;
    }
}

@-webkit-keyframes l3 /* Safari and Chrome */
{
    0% {
        top: 0px;
        left: 10px;
    }
    33% {
        top: 10px;
        left: 0px;
    }
    66% {
        top: 10px;
        left: 20px;
    }
}

.demo-list,
.demo-phone,
.demo-description {
    float: left;
    margin: 0 5px;
}

.demo-list {
    min-height: 1px;
    width: 290px;
    margin-right: 14px;
}

.demo-list ul {
    list-style-type: decimal;
}

.demo-list {
    font: 18px/24px 'aleoregular' 'Arial';

}

.demo-phone {
    width: 332px;
    height: 699px;
    background: url('../img/phone-path.png') 50% 50% no-repeat;
    margin: -50px 5px;
    position: relative;
}

.demo-phone-screen {
    position: absolute;
    top: 103px;
    left: 28px;
    width: 280px;
    height: 498px;
    background: #fff;
    overflow: hidden;
}

.demo-phone-screen .loading-ico {
    position: absolute;
    top: -100px;
}

.showLoading .loading-ico {
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -20px;
}

.demo-description {
    min-height: 1px;
    width: 290px;
    margin-left: 14px;
}

.demo-list h2,
.demo-description h2 {
    margin-top: 10px;
}

.contact-wrapper {
    padding: 100px 0;
}

.faq-wrapper {
    padding: 45px 0;
}

.faq-q {
}

.faq-a {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 960px) {
    .wrapper {
        width: 94%;
    }

    .banner {
        width: 100%;
        background: none;
        margin-top: 65px;
    }

    .tryRad {
        display: none;
    }

    .span5,
    .span6 {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .banner-button {
        margin-top: 20px;
    }

    .logo-banner {
        background-position: 50%;
    }

    .phones {
        margin: 0 auto;
    }

    .side-menu {
        display: none;
    }

    .docmentation-content {
        margin-left: 0;
    }

    .contact-wrapper {
        padding: 0;
    }
}