<div class="page">
    <div class="page-content scroll-view cardsView">
        <div class="page-scroll-body cardsView topcoat-list">
            <ul class="list cards-cat-list topcoat-list__container" data-template="true">
                {{# _.each(model, function (cat) { }}
                <li class="list-item category topcoat-list__item" data-id="{{ cat.id }}">
                    <div class="label topcoat-checkbox">{{ cat.name }}</div>
                    <span class="chkbox topcoat-checkbox__checkmark"></span>
                </li>
                {{# }); }}
            </ul>
        </div>
    </div>
    <div class="footer-bar page-footer cardsView topcoat-navigation-bar">
        <div class="col-4"><button class="btn btn-filter-clear topcoat-button">Reset<br>selection</button></div>
        <div class="col-4 counter"><span class="cats-cnt">0 Categories</span><br><span class="cards-cnt">0 Cards</span></div>
        <div class="col-4"><button class="btn btn-start-test topcoat-button--cta">Start<br>test</button></div>
    </div>
</div>