<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Select item</h1>
    </div>
</div>
<div class="topcoat-list">
    <ul class="topcoat-list__container">
        <li class="topcoat-list__item">"Per aspera ad astra"<i class="fa fa-angle-right"></i></li>
        <li class="topcoat-list__item">"Audi, vide, sile"<i class="fa fa-angle-right"></i></li>
        <li class="topcoat-list__item">"Homo homini lupus est"<i class="fa fa-angle-right"></i></li>
        <li class="topcoat-list__item">"Bonum initium est dimidium facti"<i class="fa fa-angle-right"></i></li>
    </ul>
</div>
