<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item quarter">
        <button class="topcoat-icon-button go-back">
            <i class="fa fa-angle-left"></i>
        </button>
    </div>
    <div class="topcoat-navigation-bar__item half center">
        <h1 class="topcoat-navigation-bar__title">Top Widget</h1>
    </div>
</div>

<div id="container" class="main">
    <div class="bottom-bar topcoat-tab-bar">
        <div class="topcoat-tab-bar__item">
            <button class="topcoat-tab-bar__button switch-to active">
                First
            </button>
        </div>
        <div class="topcoat-tab-bar__item">
            <button class="topcoat-tab-bar__button switch-to">
                Second
            </button>
        </div>
        <div class="topcoat-tab-bar__item">
            <button class="topcoat-tab-bar__button logout">
                Logout
            </button>
        </div>
    </div>
    <div id="inner" class="main">

    </div>
</div>