<div class="page">
    <div class="bar">
        <h3 class="about-header">About RoadRules</h3>
        <div class="about-page">
            <div class="about-holder">
                <div class="about scroll-view">
                    <div class="scroll-view-body">
                        <span></span>
                        <p>RoadRules is a self-test on the subject of driving rules and regulations. The test is divided into multiple categories, each of them includes cards with questions.</p>
                        <p>RoadRules consists of tests for car drivers, pedestrians, cyclists and motorcyclists, and also includes general rules, techniques and advice for all drivers and riders.</p>
                        <p>Check your knowledge of correct behavior in different situations on the road in a simple and convenient way.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
