<div class="popup-holder">
    <div class="popup-frame scroll-view">
        <div style="overflow: hidden; padding: 5px;">
            <div class="rad-list" style="margin: 0;">
                <div>Receive:</div>
                <ul>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                    <li>{{= model.msg }}</li>
                </ul>
            </div>
        </div>
    </div>
    <span class="popup-pointer"></span>
</div>