<div class="second scroll-body" style="height: 300px;">
    <h3>Widget 2</h3>
    {{= new Date().getTime() }}
    <div data-template>
        template 1
        {{= new Date().getTime() }}
        <span>{{= model.msg }}</span>
    </div>
    <div data-template>
        template 2
        {{= new Date().getTime() }}
        <div>{{= model.msg }}</div>
    </div>
    <div data-template>
        template 3
        {{= new Date().getTime() }}
        <div>{{= model.msg }}</div>
    </div>
    <div data-template>
        template 4
        {{= new Date().getTime() }}
        <div>{{= model.msg }}</div>
    </div>

</div>
