<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Start Page</h1>
    </div>
</div>
<div class="main">
    <div class="topcoat-list topcoat-list-margin topcoat-list-wrapper">
        <h3 class="topcoat-list__header ">Header</h3>
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item">Next <i class="fa fa-angle-right"></i></li>
            <li class="topcoat-list__item">Next <i class="fa fa-angle-right"></i></li>
            <li class="topcoat-list__item">Next <i class="fa fa-angle-right"></i></li>
            <li class="topcoat-list__item">Next <i class="fa fa-angle-right"></i></li>
        </ul>
    </div>
</div>


