<div class="page">
    <div class="rad-header">Third Page</div>
    <div class="rad-page">
        <div class="rad-bar rad-warning">Swipe to right</div>
        <div class="rad-bar" style="position: relative; height: 300px;">
            <div id="pointer" style="position: absolute; width: 20px; height: 20px; background-color: #17b7f9; display: none; border-radius: 50%;"></div>
            <div id="drag-listener" style="position: relative; height: 100%; width: 100%;">
                if you tap and move on bar - you can see $)
            </div>
        </div>
    </div>
</div>