<div class="intro">
    <div class="topcoat-button-bar">
        <div class="topcoat-button-bar__item ">
            <button class="topcoat-button-bar__button--large js-popup" data-target="first">Popup</button>
        </div>
        <div class="topcoat-button-bar__item js-popup">
            <button class="topcoat-button-bar__button--large js-popup" data-target="second">Custom Template</button>
        </div>
        <div class="topcoat-button-bar__item js-popup">
            <button class="topcoat-button-bar__button--large js-popup" data-target="third">Dynamic Popup</button>
        </div>
    </div>
</div>