<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Select animation type</h1>
    </div>
</div>
<div class="main">
    <form class="form-options">
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item">
                <label class="topcoat-radio-button" for="slide">
                    <input type="radio" name="animation" id="slide">
                    <div class="topcoat-radio-button__checkmark"></div>
                    Slide
                </label>
            </li>
            <li class="topcoat-list__item">
                <label class="topcoat-radio-button" for="fade">
                    <input type="radio" name="animation" id="fade">
                    <div class="topcoat-radio-button__checkmark"></div>
                    Fade
                </label>
            </li>
            <li class="topcoat-list__item">
                <label class="topcoat-radio-button" for="none">
                    <input type="radio" name="animation" id="none">
                    <div class="topcoat-radio-button__checkmark"></div>
                    None
                </label>
            </li>
        </ul>
    </form>
    <div class="extra-margin right">
        <button class="topcoat-button--cta go-to" >Go to Next Page</button>
    </div>
</div>
