<div class="top-bar topcoat-navigation-bar">
    <div id="console"> </div>
</div>


<div class="bottom-bar topcoat-tab-bar">
    <div class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button switch-to active"
                data-target="view.inner_first_widget">
            First
        </button>
    </div>
    <div class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button switch-to"
                data-target="view.inner_second_widget">
            Second
        </button>
    </div>
    <div class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button delete">
            Delete Second
        </button>
    </div>
</div>

<div class="main"></div>