<div class="page">
    <div class="menu-container">
    </div>
    <div class="content-container">
        <!--Start content-->
        <div class="top header-bar">
            <span class="font-awesome icon-menu">&#xF0C9</span>
            <a class="btn-hdr toggle-menu">Menu</a>
            <span class="top-title">choose cards</span>
            <a class="btn-hdr btn-done">Done</a>
            <span class="font-awesome icon-ok">&#xF00C</span>
        </div>
        <div class="sub-content">
        </div>
        <!--End content-->
    </div>
    <div class="content-overlay"></div>
</div>