<div class="page">
    <div class="menu-container">
    </div>
    <div class="content-container">
        <!--Start content-->
        <div class="top header-bar topcoat-navigation-bar">
            <span class="topcoat-icon-font icon-menu">&#xe022;</span>
            <a class="topcoat-navigation-bar__item btn-hdr toggle-menu topcoat-navigation-bar__title topcoat-navigation-bar__item">Menu</a>
            <span class="top-title topcoat-navigation-bar__title topcoat-navigation-bar__item">choose cards</span>
            <a class="topcoat-navigation-bar__item btn-hdr btn-done topcoat-navigation-bar__title topcoat-navigation-bar__item">Done</a>
            <span class="topcoat-icon-font icon-ok">&#xe042;</span>
        </div>
        <div class="sub-content">
        </div>
        <!--End content-->
    </div>
    <div class="content-overlay"></div>
</div>