<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <title>Application Seed</title>

    <link rel="stylesheet" href="../theme/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>

    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../../node_modules/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="../../build/rad.js"></script>

     <!--polymer-->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="polymer-components/proto-element.html">
    <link rel="import" href="polymer-components/picture-frame.html">
    <link rel="import" href="polymer-components/dom-element.html">
    <link rel="import" href="polymer-components/configurable-name-tag.html">
</head>
<body>

<div id="screen"></div>

<script type="text/ejs-template" id="hello-page">
    <div class="intro">
        <h1>Hello Polymer!</h1>
        <picture-frame __placeholder="<%= true %>">
            <img src="assets/images/p-logo-32.png">
        </picture-frame>
        <proto-element __placeholder="<%= true %>"></proto-element>
        <dom-element __placeholder="<%= true %>"></dom-element>
        <!-- configure a property from markup by setting
         the corresponding attribute                 -->
        <configurable-name-tag owner="Scott" __placeholder="<%= true %>"></configurable-name-tag>
    </div>
</script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>