<div class="page">
    <div class="content">
    </div>
    <div class="bottom">
        <div class="rad-footer rad-tab-bar" style="height: 100%">
            <div class="button-go-to active" data-target="view.screen_3_first" data-animation="slide-out">
                <span class="rad-ico rad-ico-home"></span><span>First</span>
            </div>
            <div class="button-go-to" data-target="view.screen_3_second" data-animation="slide-in">
                <span class="rad-ico rad-ico-mail"></span><span>Second</span>
            </div>
            <div class="button-logout" data-animation="fade">
                <span class="rad-ico rad-ico-key"></span><span>Logout</span>
            </div>
        </div>
    </div>
</div>
