<div class="page">
    <div class="top"></div>
    <div class="content">
    </div>
    <div class="bottom">
        <div class="rad-footer rad-tab-bar" style="height: 100%">
            <div class="button-go-to active" data-target="view.inner_first_widget" data-animation="slide-out">
                <span class="rad-ico rad-ico-home"></span><span>First</span>
            </div>
            <div class="button-go-to" data-target="view.inner_second_widget" data-animation="slide-in">
                <span class="rad-ico rad-ico-mail"></span><span>Second</span>
            </div>
        </div>
    </div>
</div>
