<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Second Page</h1>
    </div>
</div>
<div class="main">
    <div class="scroll-view">
        <div class="scroll-view-body">
            <div class="section">
                <div class="section__header">Second Inner Widget</div>
                <div class="section__content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu tincidunt urna, vel semper dui. Vestibulum imperdiet luctus aliquet. Aliquam nec consectetur nisi. Nunc lacus lectus, imperdiet et mi ut, ultrices tincidunt urna. Duis sem lacus, faucibus at justo vel, tristique suscipit turpis. Phasellus interdum, diam eu ultrices mattis, orci nunc rhoncus dui, in adipiscing nibh nisi vel enim. Proin pretium posuere nunc quis feugiat. Sed iaculis sit amet enim in aliquet. Maecenas a dictum ipsum. Duis id enim vitae libero hendrerit iaculis eget ac dolor. Donec vehicula dolor ac suscipit pellentesque. Vestibulum at arcu leo. Maecenas et leo fringilla, luctus erat eu, fringilla nibh. Sed eget venenatis arcu, id mattis sapien.
                    </p>
                    <p>
                        Integer scelerisque facilisis dui ut semper. Quisque vitae posuere lorem. Aenean quam arcu, dapibus eu tristique vel, iaculis viverra erat. Sed facilisis ante pellentesque mi condimentum, vitae luctus nulla blandit. Nunc vel orci egestas, adipiscing turpis vel, tempus magna. Nullam eu purus sit amet metus aliquet adipiscing a eget augue. Morbi porta est sit amet sodales condimentum. Ut risus nibh, tempus in condimentum vitae, sodales vel massa. Mauris id mauris a urna ornare lobortis. Cras at augue sem. Fusce vitae fermentum quam. Sed id fermentum arcu.
                    </p>
                    <p>
                        Aliquam sed lacus eget dolor feugiat mattis sit amet vestibulum turpis. In tincidunt lorem quis sagittis molestie. Quisque aliquam nibh et erat ullamcorper, nec aliquet ipsum aliquam. Morbi placerat varius purus id cursus. Maecenas a velit convallis elit faucibus luctus faucibus ut erat. Maecenas iaculis massa a rhoncus mollis. Vivamus a erat metus. Quisque viverra tellus et mauris porta, et euismod quam suscipit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
