<div class="page">
    <div class="rad-page">
        <div class="rad-list">
            <div>
                Header
            </div>
            <ul>
                <li>
                    <input type="checkbox" id="checkbox"/><span></span> <label for="checkbox">Label</label>
                </li>
                <li class="rad-ico rad-ico-home-d">ico-home-d</li>
                <li>
                    <input type="radio" id="radio1" name="r1"/><span></span> <label for="radio1">Label</label>
                </li>
                <li>
                    <input type="radio" id="radio2" name="r1"/><span></span> <label for="radio2">Label</label>
                </li>
                <li>
                    <input type="radio" id="radio3" name="r1"/><span></span> <label for="radio3">Label</label>
                </li>
                <li>
                    <input type="radio" id="radio4" name="r1"/><span></span> <label for="radio4">Label</label>
                </li>

            </ul>
        </div>
        <div class="separator"></div>
        <button class="rad-btn rad-success">Go To</button>
    </div>
</div>
