.page {
    position: relative;
    height: 100%
}

.top {
    position: absolute;
    width: 100%;
    height: 0;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.rad-page {
    padding-bottom: 10px;
}

.scroll-view {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
}

.menu {
    position: static !important;
}

.menu-container {
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu.rad-list {
    margin: 0;
}

.toggle-menu{
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden
}

/*menu animation*/
.swipe-animation {
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}