<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Third Page</h1>
    </div>
</div>
<div class="main">
    <div class="scroll-view">
        <div class="scroll-view-body">

            <div class="section">
                <div class="section__header">Swipe to right</div>
                <div class="section__content">
                    <p> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
                        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                        original
                        form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
