<div class="rad-header">
    <span>First Page Header</span></div>
<div class="rad-page">

    <div class="rad-list">
        <div>
            Choose animation's type
        </div>
        <ul>
            <li>
                <input type="radio" name="animation" id="slide" checked/><span></span> <label for="slide">Slide</label>
            </li>
            <li>
                <input type="radio" name="animation" id="fade"/><span></span> <label for="fade">Fade</label>
            </li>
            <li>
                <input type="radio" name="animation" id="none"/><span></span> <label for="none">None</label>
            </li>
        </ul>
    </div>

    <button class="go-to rad-btn rad-success">Go to Second Page</button>
</div>
