/* desert scheme ported from vim to google prettify */
pre.prettyprint { 
	display: block; 
	background-color: #333;
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	border-radius: 3px;
	white-space: pre-wrap;
	overflow: hidden;
}
pre .nocode { background-color: transparent; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { 
	margin-top: 0; 
	margin-bottom: 0; 
	padding: 0 0 0 40px;
	color: #AEAEAE;
	list-style: decimal outside; 
}

.linenums li {
	padding-left: 5px;
	border-left: 1px solid #444;
	word-break: break-all;
}

ol.linenums li:nth-child(even) {background: #3d3d3d};