<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item quarter">
        <button id="back" class="topcoat-icon-button">
            <i class="fa fa-angle-left"></i>
        </button>
    </div>
    <div class="topcoat-navigation-bar__item half center">
        <h1 class="topcoat-navigation-bar__title">Receive parameters</h1>
    </div>
</div>
<div class="main">
    <div class="content">
        <p><b>Received by this.extras in onStartAttach:</b> <br /><span id="options"></span></p>
        <p><b>Received by onNewExtras(extras):</b> <br /><span id="on_new"></span></p>
    </div>
</div>