<% var Dialog = require('./factory');
console.log(this.props.toJSON());
for (var viewID in this.props.toJSON()) { %>
<div style="color: red"><%= viewID %></div>
    <::Dialog key="<%= viewID %>" dialog-content="<%= this.props.get(viewID) %>"/>

<% } %>