.page {
    height: 100%;
}

.header {
    height: 130px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 145px;
}
