.page {
    background-color: #ffffff;
}

.menu {
    background-color: #ECF0F1;
}

.content-container {
    overflow: hidden;
}

ul .row:first-child {
    border-top: 1px solid #596a72;
}

.row {
    border-bottom: 1px solid #596a72;
    line-height: 42px;
    height: 42px;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.channel-name {
    background-color: #82BF56;
    border-right: 1px solid #dbdfe0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding-left: 5px;
    color: #ffffff;
    font-weight: bold;

    width: 15%;
    float: left;
}

.time-line {
    width: 85%;
    height: 100%;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.interval {
    float: left;

    background: #ECF0F1;

    border-right: 1px solid #dbdfe0;
    text-align: center;

    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.rad-header {
    width: 100%;
    box-sizing: border-box;
}

/*cube*/

.cube-container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 40px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

#cube figure {
    display: block;
    position: absolute;
    width: 196px;
    height: 196px;
    border: 2px solid black;
    line-height: 196px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#cube.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cube .front {
    background: hsla(0, 100%, 50%, 0.7);
}

#cube .back {
    background: hsla(60, 100%, 50%, 0.7);
}

#cube .right {
    background: hsla(120, 100%, 50%, 0.7);
}

#cube .left {
    background: hsla(180, 100%, 50%, 0.7);
}

#cube .top {
    background: hsla(240, 100%, 50%, 0.7);
}

#cube .bottom {
    background: hsla(300, 100%, 50%, 0.7);
}

#cube .front {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
}

#cube .back {
    -webkit-transform: rotateX(-180deg) translateZ(100px);
    -moz-transform: rotateX(-180deg) translateZ(100px);
    -o-transform: rotateX(-180deg) translateZ(100px);
    transform: rotateX(-180deg) translateZ(100px);
}

#cube .right {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}

#cube .left {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}

#cube .top {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}

#cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) translateZ(100px);
    -o-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}

#cube.show-front {
    -webkit-transform: translateZ(-100px);
    -moz-transform: translateZ(-100px);
    -o-transform: translateZ(-100px);
    transform: translateZ(-100px);
}

#cube.show-back {
    -webkit-transform: translateZ(-100px) rotateX(-180deg);
    -moz-transform: translateZ(-100px) rotateX(-180deg);
    -o-transform: translateZ(-100px) rotateX(-180deg);
    transform: translateZ(-100px) rotateX(-180deg);
}

#cube.show-right {
    -webkit-transform: translateZ(-100px) rotateY(-90deg);
    -moz-transform: translateZ(-100px) rotateY(-90deg);
    -o-transform: translateZ(-100px) rotateY(-90deg);
    transform: translateZ(-100px) rotateY(-90deg);
}

#cube.show-left {
    -webkit-transform: translateZ(-100px) rotateY(90deg);
    -moz-transform: translateZ(-100px) rotateY(90deg);
    -o-transform: translateZ(-100px) rotateY(90deg);
    transform: translateZ(-100px) rotateY(90deg);
}

#cube.show-top {
    -webkit-transform: translateZ(-100px) rotateX(-90deg);
    -moz-transform: translateZ(-100px) rotateX(-90deg);
    -o-transform: translateZ(-100px) rotateX(-90deg);
    transform: translateZ(-100px) rotateX(-90deg);
}

#cube.show-bottom {
    -webkit-transform: translateZ(-100px) rotateX(90deg);
    -moz-transform: translateZ(-100px) rotateX(90deg);
    -o-transform: translateZ(-100px) rotateX(90deg);
    transform: translateZ(-100px) rotateX(90deg);
}

/*todo*/
.done label{
    text-decoration: line-through;
    color: #008800;
}

.rad-list li:first-child, .rad-list li:last-child{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}
