/* Main screen */

#screen,
#screen > div,
.page,
.content-container {
    background-color: inherit;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.top {
    position: absolute;
    top: 0;
    z-index: 2;
}
.toggle-menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-done {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
.btn-done.show {
    display: block;
}
.sub-content {
    position: absolute;
    width: 100%;
    top: 4.375rem;
    bottom: 0;
}

/* Views pages */

.page {
    position: relative;
    height: 100%;
    width: 100%;
}
.page-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 70px;
    right: 0;
}
.page-content.cardsView {
    bottom: 0;
}
.page-footer {
    position: absolute;
    margin: 0;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: table;
}
.page-footer.cardsView {
    bottom: -70px;
}
.page-scroll-body {
    overflow: auto;
    padding: 0;
}

/* Dialogs, popups, toasts */

.dialog-block.lightbox-frame {
    text-align: center;
    display: block;
    vertical-align: baseline;
    width: 70%;
    position: absolute;
}
.image-block.lightbox-frame {
    position: relative;
    display: block;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 45%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.image-block .image-holder {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
}
.image-block .src-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* Test page */
.card-page {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 105px;
    margin: 11px;
}
.holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    line-height: 150%;
    text-align: justify;
    transition: visibility 0.5s, opacity 0.5s;
    -webkit-transition: visibility 0.5s, opacity 0.5s; /* Safari */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.answer-holder {
    z-index: 10;
}
.holder.show {
    visibility: visible;
    opacity: 1;
}
.holder .scroll-view {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
 }
.holder .scroll-view-body {
    padding: 0 30px;
    overflow: auto;
    font-weight: bold;
}
.testScrollV {
    position:absolute;
    z-index:100;
    width:7px;
    bottom:2px;
    top:2px;
    right:-11px
}
.testScrollV > div {
    position:absolute;
    z-index:100;
    border: 1px solid #143250;background-color: #288edf;box-shadow: inset -1px 1px rgba(255,255,255,0.36);
    background-clip:padding-box;
    box-sizing:border-box;
    width:100%;
    border-radius:3px;
}
.thumb-holder {
    position: relative;
    display: inline-block;
    margin: 10px;
    float: right;
}
.thumb-holder > img {
    display: block;
}
.btn-show-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.variants-holder {
    position: absolute;
    bottom: 35px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    z-index: 999;
}
.variant-text {
    text-transform: uppercase;
    padding-left: 5px;
    font-weight: bold;
}
.question-counter {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    color: #ec514e;
    font-size: 18px;
}

/* Filter page */

/* Stats page */

.stat-header {
    clear: both;
    text-align: center;
    height: auto;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    margin: 15px;
}
.stat-block {
    text-align: justify;
    margin: 15px;
    padding: 20px;
    line-height: 3rem;
}
.stat-block > div {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.chart-legend-holder{
    text-align: center;
    min-width: 180px;
    width: 100%;
    line-height: 0;
}
.chart-legend {
    display: inline-block;
    text-align: left;
}

/* About page */

.about-header {
    text-align: center;
    height: auto;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    margin: 15px;
}
.about-page {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 11px;
}
.about-holder {
    text-align: center;
}
.about .scroll-view-body {
    padding: 0 15px;
}
.about span {
    display: inline-block;
    margin-top: 20px;
    height: 200px;
    width: 200px;
    background: url("image/logo.svg") 0px 0px;
    background-size: 200px 200px;
}

/* Swipe implementation */

.swipe-container {
    height: 100%;
    width: 100%;
    position: relative;
}
.swipe-0, .swipe-1, .swipe-2 {
    -webkit-transform: translateZ(0);

    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    float:left;

    /*disable text select*/
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.swipe-0 {
    top: 0;
}
.swipe-1 {
    top: -100%;
}
.swipe-2 {
    top: -200%;
}
.swipe-animation {
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
.menu {
    position: static !important;
}
.menu-container {
    width: 250px;
    height: 100%;
    overflow: hidden;
}
.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden
}