/* Bootstrap */
@font-face {
    font-family: 'FontAwesome';
    src: url(fonts/fontawesome-webfont.ttf);
}
@font-face {
    font-family: 'topcoat-icons';
    src:url('fonts/topcoat-icons.eot');
    src:url('fonts/topcoat-icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/topcoat-icons.woff') format('woff'),
    url('fonts/topcoat-icons.ttf') format('truetype'),
    url('fonts/topcoat-icons.svg#topcoat-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    -webkit-font-smoothing: antialiased;
}

p {
    margin: 10px 0;
    text-align: justify;
    text-indent: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h1, h2, h3 {
    margin: 1em 0 0.5em;
}
label {
    vertical-align: middle;
}

.col-1 {
    float: left;
    width: 8.333333333333334%;
}
.col-2 {
    float: left;
    width: 16.666666666666668%;
}
.col-4 {
    float: left;
    width: 33.333333333333336%;
}
.col-6 {
    float: left;
    width: 50%;
}
.col-8 {
    float: left;
    width: 66.66666666666667%;
}
.col-12 {
    float: left;
    width: 100%;
}

.header-bar {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
.header-bar .top-title {
    font-weight: bold;
}
.footer-bar {
    overflow: hidden;
}
.bar {
    padding: 0px;
    margin: 10px 0;
}

.alert h4 {
    margin: 0 0 20px;
}
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 20px;
}

.list {
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
}
.list.cards-cat-list {
    margin: 0;
}
.list-header {
    margin-top: 10px;
    padding: 15px 20px;
    font-weight: bold;
}
.spinner {
    float: right;
    padding-right: 4px;
    height: 25px;
    width: 25px;
}
.list-item {
    padding: 16px 100px 16px 10px;
    overflow: hidden;
    position: relative;
    height: 74px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list-item:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    content: "";
    width: 0;
}
.list-item .label {
    vertical-align: middle;
    display: inline-block;
    line-height: 125%;
    width: auto;
    overflow: hidden;
    max-height: 40px;
    font-weight: bold;
}
.list-item > .chkbox {
    position: absolute;
    top: 20px;
    right: 0;
    width: 52px;
}
.list-item.category > .cards-number,
.list-item.status > .cards-number {
    position: absolute;
    top: 36px;
    right: 0;
    margin-right: 72px;
    font-weight: bold;
}

.tab-bar > div.active[data-status="know"] > button{
    border: 1px solid #2F6428;
    box-shadow: 0 0 0 2px #4ea643;
    color: #4ea643;
    outline: 0;
    z-index: 1;
}
.tab-bar > div.active[data-status="unsure"] > button {
    border: 1px solid #865B20;
    box-shadow: 0 0 0 2px #e09836;
    color: #e09836;

    outline: 0;
    z-index: 1;
}
.tab-bar > div.active[data-status="dontknow"] > button {
    border: 1px solid #721F1F;
    box-shadow: 0 0 0 2px #BE3434;
    color: #BE3434;
    outline: 0;
    z-index: 1;
}

.btn-hdr {
    position: absolute;
    height: 100%;
    background: none;
    border: none;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}
.toggle-menu {
    left: 0;
    padding: 0 0 0 70px;
}
.btn-done {
    padding: 0 70px 0 0;
}

.variant-know,
.variant-unsure,
.variant-dont{
    position: relative;
    display: inline-block;
    height: 25px;
    width: 25px;
    top: 6px;
}

.font-awesome {
    font-family: FontAwesome;
    font-weight: normal;
}
.topcoat-icon-font {
    font-family: topcoat-icons;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
}

.icon-menu {
    position: absolute;
    padding: 22px;
    left: 0;
}
.icon-ok {
    position: absolute;
    padding: 22px;
    right: 0;
    visibility: hidden;
}
.icon-ok.show {
    visibility: visible;
}
.icon-arrows {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    z-index: 100;
    visibility: visible;
}
.icon-back {
    right: auto;
    left: 5px;
}
.icon-next {
    right: 5px;
    left: auto;
}
.icon-back.hidden, .icon-next.hidden {
    visibility: hidden;
}
.icon-expand {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn {
    line-height:125%;
    margin: 10px 10%;
    text-transform: uppercase;
    min-height: 50px;
    min-width: 80%;
    overflow: visible;
    font-weight: bold;
}
.btn:active {
}

/* Main style */

.menu {
    font: 28px/50px "Source Sans", sans-serif;
    text-transform: uppercase;
    width: 250px;
}
.menu-item > button {
    width: 100%;
}
.content-container {
    overflow: hidden;
    background-color: inherit;
}

.icon-css {
    position: absolute;
    width: 50px;
    text-align: center;
    bottom: 0;
    left: 190px;
    visibility: hidden;
}
.icon-css.show {
    visibility: visible;
}

.page {
    background-color: inherit;
}
.page-footer > div {
    padding: 0;
    height: 100%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.counter span {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    padding: 10px 0 0;
    text-transform: uppercase;
}

.btn-show-image {
    width: 100%;
    height: 100%;
}

ul.chart-legend {
    list-style: none inside;
    width: 100%;
}

.color-block {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

/* Buttons */

/* Dialogs, Toasts, Popups */
.toast-block {
    text-align: center;
}
#progressbar > div {
    background-color: #ec514e;
    width: 0%; /* Adjust with JavaScript */
    height: 2px;
}
/* When screen is small */
@media screen and (max-width: 550px) {
    .variant-text {
        display: none;
    }
    .thumb-holder > img {
        width: 176px
    }
}
@media screen and (max-width: 420px) {
    .btn-hdr.btn-done,
    .btn-hdr.toggle-menu {
        width: 59px;
        text-indent: -9999px;
    }
    .page-footer {
        padding: 0;
    }
    .btn {
        margin: 10px 5%;
        min-width: 90%;
        font-size: 14px;
        padding: 5px;
    }
    .counter span {
        padding: 12px 0 0;
        font-size: 14px;
    }
    .stat-header {
        font-size: 20px;
    }
    .about-header {
        font-size: 20px;
    }
    .holder .scroll-view-body {
        padding: 0 10px;
        font-size: 16px;
        line-height: 150%;
    }
}

dl {
    margin: 0;
    padding: 0 0 15px 0;
    height: auto;
}

.chart-legend li {
    margin: 0;
    display: block;
    height: 2em;
    position: relative;
    width: 100%;
    line-height: 2em;
}

.chart-legend li b {
    float: right;
    display: block;
    margin-left: auto;
    background: #cec;
    height: 2em;
    line-height: 2em;
    text-align: right;
}

.percentage {
    width: 100%;
    position: absolute;
    line-height: 2em;
}

.color-block-holder {
    text-align: center;
    position: relative;
}

.windows8 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px;
    height: 90px;
}

.windows8 .wBall {
    position: absolute;
    width: 86px;
    height: 86px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 3.3s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 3.3s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 3.3s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 3.3s infinite;
    transform: rotate(225deg);
    animation: orbit 3.3s infinite;
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    width: 11px;
    height: 11px;
    background: #595b5b;
    left: 0px;
    top: 0px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
}

.windows8 #wBall_1 {
    -moz-animation-delay: 0.72s;
    -webkit-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

.windows8 #wBall_2 {
    -moz-animation-delay: 0.14s;
    -webkit-animation-delay: 0.14s;
    -ms-animation-delay: 0.14s;
    -o-animation-delay: 0.14s;
    animation-delay: 0.14s;
}

.windows8 #wBall_3 {
    -moz-animation-delay: 0.29s;
    -webkit-animation-delay: 0.29s;
    -ms-animation-delay: 0.29s;
    -o-animation-delay: 0.29s;
    animation-delay: 0.29s;
}

.windows8 #wBall_4 {
    -moz-animation-delay: 0.43s;
    -webkit-animation-delay: 0.43s;
    -ms-animation-delay: 0.43s;
    -o-animation-delay: 0.43s;
    animation-delay: 0.43s;
}

.windows8 #wBall_5 {
    -moz-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    animation-delay: 0.58s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }

}

.category-criteria,
.status-criteria {
    height: 0;
    overflow: hidden;
}

.category-criteria,
.status-criteria,
.footer-bar.cardsView,
.page-content.cardsView {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.topcoat-list__item.checked > .topcoat-checkbox__checkmark:after {
    opacity: 1;
    border-radius: 0;
}
.topcoat-button-bar__button {
    width: 100%;
    padding: 0 1rem;
    text-transform: uppercase;
}