<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Select animation type</h1>
    </div>
</div>
<div class="main">
    <div class="section form-options topcoat-list">
        <h2 class="topcoat-list__header">
            CSS effects from <a href="https://daneden.github.io/animate.css/" target="_blank">animate.css</a>
        </h2>
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item has-active" data-animation-enter="bounceInDown" data-animation-leave="bounceOutDown">
                bounceInDown
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="topcoat-list__item has-active" data-animation-enter="slideInUp">
                slideInUp
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="topcoat-list__item has-active" data-animation-enter="slideInRight" data-animation-leave="slideOutLeft">
                slideInRight
                <i class="fa fa-angle-right"></i>
            </li>
        </ul>
        <!--<h2 class="topcoat-list__header">-->
            <!--CSS transitions from &nbsp;<a target="_blank" href="https://github.com/codrops/PageTransitions">codrops</a> PageTransitions:-->
        <!--</h2>-->
        <!--<ul class="topcoat-list__container">-->
            <!--<li class="topcoat-list__item has-active" data-animation="moveFade">-->
                <!--Move Fade-->
                <!--<i class="fa fa-angle-right"></i>-->
            <!--</li>-->
            <!--<li class="topcoat-list__item has-active" data-animation="scaleDown">-->
                <!--Scale Down-->
                <!--<i class="fa fa-angle-right"></i>-->
            <!--</li>-->
            <!--<li class="topcoat-list__item has-active" data-animation="flip">-->
                <!--Flip-->
                <!--<i class="fa fa-angle-right"></i>-->
            <!--</li>-->
            <!--<li class="topcoat-list__item has-active" data-animation="ptSlide">-->
                <!--Slide-->
                <!--<i class="fa fa-angle-right"></i>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>
