body, html {
    position: relative;
    height: 100%;
    overflow: hidden;
    -ms-touch-action: none;
    -ms-touch-select: none;
}

body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, abbr, acronym, address, applet, article, aside,
audio, b, big, blockquote, body, canvas, caption, center,
cite, code, dd, del, details, dfn, div, dl, dt, em, embed,
fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a, button, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

img {
    border-style: none;
}

input, select, textarea {
    vertical-align: middle;
}

fieldset, form {
    margin: 0;
    padding: 0;
    border-style: none;
}

div[data-role=view] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#screen {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#overlay {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#overlay.show {
    display: block;
}

.lightbox {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    white-space: nowrap;
}

.lightbox.animate {
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.lightbox.show {
    opacity: 1;
}

.lightbox:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
}

.lightbox-frame {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: left;
    white-space: normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transform: scale(0.5, .5);
    -webkit-transform: scale(0.5, .5);
    -o-transform: scale(0.5, .5);
    -ms-transform: scale(0.5, .5);
    transform: scale(0.5, .5);
}

.lightbox.animate > .lightbox-frame {
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    -ms-transition: -ms-transform 300ms ease;
    -o-transition: -o-transform 300ms ease;
    transition: transform 300ms ease;
}

.lightbox.show .lightbox-frame {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.toast {
    z-index: 999;
    position: absolute;
    width: auto !important;
    max-width: 50% !important;
    height: auto !important;
    opacity: 0;
    text-align: center;
    display: inline-block;
}

.toast.animate {
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.toast.show {
    opacity: 1;
}

.popup {
    position: absolute;
    z-index: 999;
    opacity: 0;
}

.popup.animate {
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.popup.show {
    opacity: 1;
}

.jump-in, .jump-out, .slide-in, .slide-out {
    -webkit-transition: -webkit-transform 350ms ease;
    -moz-transition: -moz-transform 350ms ease;
    -ms-transition: -ms-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    transition: transform 350ms ease;
}

.new-page.slide-in {
    -webkit-transform: translate(100%, 0) translateZ(0);
    -moz-transform: translate(100%, 0) translateZ(0);
    -ms-transform: translate(100%, 0) translateZ(0);
    -o-transform: translate(100%, 0) translateZ(0);
    transform: translate(100%, 0) translateZ(0);
}

.animate > .new-page.jump-in, .animate > .new-page.slide-in, .old-page.jump-in, .old-page.slide-in {
    -webkit-transform: translate(0, 0) translateZ(0);
    -moz-transform: translate(0, 0) translateZ(0);
    -ms-transform: translate(0, 0) translateZ(0);
    -o-transform: translate(0, 0) translateZ(0);
    transform: translate(0, 0) translateZ(0);
}

.animate > .old-page.slide-in, .new-page.slide-out {
    -webkit-transform: translate(-100%, 0) translateZ(0);
    -moz-transform: translate(-100%, 0) translateZ(0);
    -ms-transform: translate(-100%, 0) translateZ(0);
    -o-transform: translate(-100%, 0) translateZ(0);
    transform: translate(-100%, 0) translateZ(0);
}

.animate > .new-page.jump-out, .animate > .new-page.slide-out, .old-page.jump-out, .old-page.slide-out {
    -webkit-transform: translate(0, 0) translateZ(0);
    -moz-transform: translate(0, 0) translateZ(0);
    -ms-transform: translate(0, 0) translateZ(0);
    -o-transform: translate(0, 0) translateZ(0);
    transform: translate(0, 0) translateZ(0);
}

.animate > .old-page.slide-out {
    -webkit-transform: translate(100%, 0) translateZ(0);
    -moz-transform: translate(100%, 0) translateZ(0);
    -ms-transform: translate(100%, 0) translateZ(0);
    -o-transform: translate(100%, 0) translateZ(0);
    transform: translate(100%, 0) translateZ(0);
}

.new-page.jump-in {
    -webkit-transform: translate(0, 100%) translateZ(0);
    -moz-transform: translate(0, 100%) translateZ(0);
    -ms-transform: translate(0, 100%) translateZ(0);
    -o-transform: translate(0, 100%) translateZ(0);
    transform: translate(0, 100%) translateZ(0);
}

.animate > .old-page.jump-in, .new-page.jump-out {
    -webkit-transform: translate(0, -100%) translateZ(0);
    -moz-transform: translate(0, -100%) translateZ(0);
    -ms-transform: translate(0, -100%) translateZ(0);
    -o-transform: translate(0, -100%) translateZ(0);
    transform: translate(0, -100%) translateZ(0);
}

.animate > .old-page.jump-out {
    -webkit-transform: translate(0, 100%) translateZ(0);
    -moz-transform: translate(0, 100%) translateZ(0);
    -ms-transform: translate(0, 100%) translateZ(0);
    -o-transform: translate(0, 100%) translateZ(0);
    transform: translate(0, 100%) translateZ(0);
}

.new-page.fade-in, .new-page.fade-out {
    opacity: 0;
    -webkit-transition: opacity 350ms ease;
    -moz-transition: opacity 350ms ease;
    -ms-transition: opacity 350ms ease;
    -o-transition: opacity 350ms ease;
    transition: opacity 350ms ease;
}

.old-page.fade-in, .old-page.fade-out {
    opacity: 1;
    -webkit-transition: opacity 175ms 175ms ease;
    -moz-transition: opacity 175ms 175ms ease;
    -ms-transition: opacity 175ms 175ms ease;
    -o-transition: opacity 175ms 175ms ease;
    transition: opacity 175ms 175ms ease;
}

.animate > .new-page.fade-in, .animate > .new-page.fade-out {
    opacity: 1;
}

.animate > .old-page.fade-in, .animate > .old-page.fade-out {
    opacity: 0;
}

.native-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.native-scroll > div, .native-scroll > ol, .native-scroll > p, .native-scroll > ul {
    -webkit-transform: translate(0, 0) translateZ(0);
    -moz-transform: translate(0, 0) translateZ(0);
    -ms-transform: translate(0, 0) translateZ(0);
    -o-transform: translate(0, 0) translateZ(0);
    transform: translate(0, 0) translateZ(0);
}