body{
    margin:0 ;
    min-width:720px;
}
ul{
    padding:0;
    list-style:none;
}
pre{
    overflow-x:auto;
    white-space: pre;
}
.wrap {
    width: 100%;
    height: 100%;
    background-color: #eee;
    overflow: hidden;
    position:relative;
}
#header{
    background:#658DB5;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 0 0 180px;
    z-index:100;
    color:#fff;
}
#header:after{
    display:block;
    clear:both;
    content:'';
}
.logo{
    position:fixed;
    z-index:150;
    left:50px;
    top:3px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../images/logo_RAD_gs_white.png) no-repeat;
    width:129px;
    height:49px;
}
#nav{
    float:right;
    letter-spacing:1px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:17px;
}
#nav.hidden{
    display:none;
}
#nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
#nav ul:after{
    display:block;
    clear:both;
    content:'';
}
#nav li{
    float:left;
    position:relative;
    border-left:1px solid #7397BB;
}
#nav li.disable:before{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index:100;
    content:'';
}
#nav a{
    color:#fff;
    padding:19px 20px;
    text-decoration:none;
    display:block;
}
#nav li.active a,
#nav a:hover{
    color:#F8F8F8;
    background:#333;
}
#header h1{
    overflow:hidden;
    font:1.2em Arial, Helvetica, sans-serif;
    text-align:center;
    margin:15px 0;
    font-weight:normal;
}
#main{
    position:relative;
    min-height:100%;
    position:relative;
}
.content {
    padding: 10px;
    padding-top:50px;
    margin: 0 360px 0 250px;
    font-family: "Lucida Grande";
    max-width: 900px;
}
.content.hide-example{
    margin: 0 20px 0 250px;
}
.hide-example iframe, .hide-example #sample_holder{
    display: none;
}
.sidebar {
    width: 240px;
    height: 100%;
    left: 0;
    top: 0;
    position:fixed;
    z-index:10;
    border-top:55px solid #658DB5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background-color: #fff;
}
.sidebar .holder{
    overflow-y: scroll;
    padding: 0 10px;
    height:100%;
}
.sidebar .sidebar_container {
    padding: 20px 0;
}
.sidebar a {
    font-family:"Courier New", sans-serif;
}
.sidebar .section_title {
    margin: 15px 0 0 5px;
    display: block;
    font-family:"Lucida Grande", sans-serif;
}
.sidebar .subsection_title {
    margin: 10px 0 0 15px;
    display: block;
    font-family:"Lucida Grande", sans-serif;
}
.sidebar .section_body {
    margin: 5px 0 0 25px;
    list-style: none;
}
.sidebar a:link {
    color: #121212;
    text-decoration: none;
}
.sidebar a:visited {
    color: #121212;
}
.sidebar a:hover {
    color: dodgerblue;
}
#sample_holder {
    position: fixed;
    /*padding: 5px;*/
    top: 50%;
    right: 0;
    /*background-color: #17b7f9;*/
    width: 371px;
    height: 701px;
    margin: -350px 30px 0 30px;
    /*-moz-box-shadow: 0 0 20px rgba(0,0,0,0.7); *//* Для Firefox */
    /*-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.7);  Для Safari и Chrome */
    /*box-shadow: 0 0 20px rgba(0,0,0,0.7); *//* Параметры тени */
    /*border: 3px solid graytext;*/
    /*border-radius: 5px;*/
    background: url('../images/IPhone_5_2.png');
    transition: opacity 0.3s ease;
}
#sample_holder.hide {
    opacity: 0;
}

#sample_holder iframe{
    background-color: #17b7f9;
    width: 280px;
    height: 492px;
    margin: 106px 0 0 48px;
    display: block;
    border-radius: 2px;
}
.notify {
    margin: 5px 30px;
    padding: 5px;
    border-left: 5px solid coral;
    background-color: lightyellow;
}
.inner_link {
    font-family:"Courier New", sans-serif;
}
.info_block {
    padding: 10px;
    font:15px arial,sans-serif;
}
.info_block h2 {
    font-size: 1.5em;
    margin: 10px 20px;
}
.info_block h3 {
    font-size: 1.2em;
    margin: 5px 0;
    font-style: italic;
}
.info_block .info_list {
    margin-left: 30px;
}
.info_block .info_list li {
    margin-top: 10px;
    border-left: 5px solid graytext;
    padding-left: 5px;
}
.info_block pre {
    padding: 5px 0 0 10px;
    margin: 5px 30px;
    border-left: 5px solid dodgerblue;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    font-size: 12px;
    background-color: rgb(200, 210, 220);
    /*background-color: rgba(0, 210, 255, 0.05);*/
}
.subject_block {
    margin: 10px 0;
}
.description {
    margin-left: 25px;
    padding: 5px;
}
b {
    font-weight: bold;
}

.faq {
    list-style: none;
}
.faq div {
    padding: 3px;
}
.question {
    margin: 20px 0 0 0;
}
.answer {
    background-color: gainsboro;
}
.answer ol {
    list-style-type: decimal;
    list-style-position: inside;
}
.scheme {
    margin: 8px auto 0 30px;
}
.show-utils{
    display: none;
}

