<div class="page">
    <div class="page-content scroll-view filterView">
        <div class="page-scroll-body filterView">
            <div class="list-header topcoat-list__header" data-target="status-criteria">Status<span class="topcoat-icon-font spinner-out spinner">&#xe057;</span><span class="topcoat-icon-font spinner-in spinner" style="display: none">&#xe054;</span></div>
            <div class="status-criteria topcoat-list">
                <ul class="list topcoat-list__container" data-template="true">
                    <li class="list-item status topcoat-list__item" data-value="know">
                        <div class="label topcoat-checkbox">Know</div>
                        <span class="cards-number">{{ RAD.models.categories.know }}</span>
                        <span class="chkbox topcoat-checkbox__checkmark"></span>
                    </li>
                    <li class="list-item status topcoat-list__item" data-value="unsure">
                        <div class="label topcoat-checkbox">Unsure</div>
                        <span class="cards-number">{{ RAD.models.categories.unsure }}</span>
                        <span class="chkbox topcoat-checkbox__checkmark"></span>
                    </li>
                    <li class="list-item status topcoat-list__item" data-value="dontknow">
                        <div class="label topcoat-checkbox">Don't know</div>
                        <span class="cards-number">{{ RAD.models.categories.dontknow }}</span>
                        <span class="chkbox topcoat-checkbox__checkmark"></span>
                    </li>
                    <li class="list-item status topcoat-list__item" data-value="unanswered">
                        <div class="label">Unanswered</div>
                        <span class="cards-number">{{ RAD.models.categories.unanswered }}</span>
                        <span class="chkbox topcoat-checkbox__checkmark"></span>
                    </li>
                </ul>
            </div>
            <div class="list-header topcoat-list__header" data-target="category-criteria">Categories<span class="topcoat-icon-font spinner-out spinner">&#xe057;</span><span class="topcoat-icon-font spinner-in spinner" style="display: none">&#xe054;</span>
            </div>
            <div class="category-criteria topcoat-list">
                <ul class="list topcoat-list__container" data-template="true">
                    {{# _.each(model, function (cat) { }}
                    <li class="list-item category topcoat-list__item" data-id="{{ cat.id }}">
                        <div class="label topcoat-checkbox">{{ cat.name }}</div>
                        <span class="cards-number">{{ RAD.models.cards.cardsByCat[cat.id].length }}</span>
                        <span class="chkbox topcoat-checkbox__checkmark"></span>
                    </li>
                    {{# }); }}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bar page-footer topcoat-navigation-bar">
        <div class="col-4">
            <button class="btn btn-filter topcoat-button topcoat-button--cta">Apply<br>filters</button>
        </div>
        <div class="col-4">
            <button class="btn btn-filter-clear topcoat-button">Clear<br>filters</button>
        </div>
        <div class="col-4">
            <button class="btn btn-start-test topcoat-button" disabled>Start<br>test</button>
        </div>
    </div>
</div>