<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item quarter">
        <button id="back" class="topcoat-icon-button">
            <i class="fa fa-angle-left"></i>
        </button>
    </div>
    <div class="topcoat-navigation-bar__item half center">
        <h1 class="topcoat-navigation-bar__title">Second Page</h1>
    </div>
</div>
<div class="main">
    <div class="content">
        <p>Vestibulum fermentum tempus elit a molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Nulla facilisi. Duis quis ante non dui facilisis faucibus in at nisi. Mauris ultrices
            risus sed aliquam mattis. Donec odio lectus, ultricies et lorem sit amet, ultrices rhoncus sapien. Ut risus
            neque, rhoncus eu sodales ut, varius congue nunc. In ac massa lacus.</p>
        <img src="assets/pic.jpg" style="float: left; margin: 0 10px 0 0;" width="280px">
        <p> Vestibulum fermentum tempus elit a molestie. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia Curae; Nulla facilisi. Duis quis ante non dui facilisis faucibus in at nisi. Mauris
            ultrices risus sed aliquam mattis. Donec odio lectus, ultricies et lorem sit amet, ultrices rhoncus sapien.
            Ut risus neque, rhoncus eu sodales ut, varius congue nunc. In ac massa lacus.</p>

    </div>
</div>