<div class="scroll-view-body" style="overflow: hidden;">
    <div class="topcoat-list">
        <h3 class="topcoat-list__header sub-title">Header</h3>
        <form>
            <ul class="topcoat-list__container">
                <li class="topcoat-list__item">
                    <label class="topcoat-checkbox" for="checkbox">
                        <input type="checkbox" id="checkbox">
                        <div class="topcoat-checkbox__checkmark"></div>
                        Default
                    </label>
                </li>
                <li class="topcoat-list__item">
                    <label class="topcoat-radio-button" for="radio1">
                        <input type="radio" id="radio1" name="r1">
                        <div class="topcoat-radio-button__checkmark"></div>
                        Label
                    </label>
                </li>
                <li class="topcoat-list__item">
                    <label class="topcoat-radio-button" for="radio2">
                        <input type="radio" id="radio2" name="r1">
                        <div class="topcoat-radio-button__checkmark"></div>
                        Label
                    </label>
                </li>
                <li class="topcoat-list__item">
                    <label class="topcoat-radio-button" for="radio3">
                        <input type="radio" id="radio3" name="r1">
                        <div class="topcoat-radio-button__checkmark"></div>
                        Label
                    </label>
                </li>
                <li class="topcoat-list__item">
                    <label class="topcoat-radio-button" for="radio4">
                        <input type="radio" id="radio4" name="r1">
                        <div class="topcoat-radio-button__checkmark"></div>
                        Label
                    </label>
                </li>
            </ul>
        </form>
    </div>
    <div class="extra-margin right">
        <button class="topcoat-button--cta go-to">Go To</button>
    </div>
</div>

