<% var SearchForm = require('../SearchForm/SearchForm'); %>
<::SearchForm class="form form--search" action="#"/>

<div class="notification-hold">
    <a class="notification link" href="#/notifications">
        <span class="icon icon--bell"></span>
        <span class="indicator">0</span>
    </a>
</div>

<div class="avatar-hold">
    <a class="avatar link" href="#/profile">
        <img class="avatar-img" src="assets/images/ava.png" alt="Avatar">
    </a>
</div>