<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Third Page</h1>
    </div>
</div>
<div class="main">
    <div class="scroll-view">
        <div class="scroll-view-body">
            <div class="section">
                <div class="section__header">Third Inner Widget</div>
                <div class="section__content">
                    <div class="pointer-wrap">
                        <span class="label">if you click and move on this bar - you will see pointer</span>
                        <div id="pointer" class="pointer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



