x-tabbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

x-tabbox > menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}

x-tabbox > menu > * {
    margin: 0;
    padding: 0;
    background: #eee;
    border: none;
    font-family: inherit;
    cursor: pointer;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

x-tabbox > menu > [selected] {
    background: #f8f8f8;
}

x-tabbox > ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f8f8f8;
    overflow: hidden;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

x-tabbox > ul > li {
    position: relative;
    min-width: 100%;
    opacity: 0;
    z-index: 0;
    overflow: auto;
}

x-tabbox[transition] > ul > li {
    -webkit-transition: ease opacity 0.3s;
    -ms-transition: ease opacity 0.3s;
    transition: ease opacity 0.3s;
}

x-tabbox[tab-position="left"],
x-tabbox[tab-position="right"] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

x-tabbox[tab-position="left"] > menu,
x-tabbox[tab-position="right"] > menu {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

x-tabbox[tab-position="right"] > menu,
x-tabbox[tab-position="bottom"] > menu {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

x-tabbox[tab-position="left"] > menu > *,
x-tabbox[tab-position="right"] > menu > * {
    display: block;
}

x-tabbox[tab-position="right"] > ul,
x-tabbox[tab-position="bottom"] > ul {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}