<% var ClientCard = require('../ClientCard/ClientCard'); %>
<div class="stage-header">
    <h2 class="h2--stage">Stage <%= data.props['stage-id'] %></h2>
    <p class="text--stage">$182.000.00</p>
</div>

<% _.each(data.props.clients, function(client){ %>

<::ClientCard client="<%= client.toJSON() %>" key="<%= client.get('id') %>" id="<%= client.get('id') %>"/>

<% }); %>