x-medium-editor {
    display: block;
}

.medium-editor-toolbar li button {
    width: auto;
    height: auto;
    min-width: 3em;
    padding: 0.75em;
    font-size: 1em;
    line-height: 1em;
}

.medium-toolbar-arrow-under:after {
    display: none;
}