<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Dialog Example</h1>
    </div>
</div>
<div class="main">
    <div class="section">
        <div class="section__header">
            Data received from dialog
        </div>
        <div class="section__content">
            <div id="dialog_result" class="receiver">

            </div>
        </div>
    </div>
    <div class="section">
        <div class="section__header">
            Pass data to dialog
        </div>
        <div class="section__content">
            <input id="title" type="text" class="topcoat-text-input responsive-width-full" placeholder="Dialog Title" value="">
            <button class="topcoat-button--cta dialog-show">Open dialog</button>
        </div>
    </div>
</div>

