<div id="progressbar" data-template="true">
    <div style='width:{{ this.model.cardIndex / (this.model.length - 1) * 100 }}%'></div>
</div>
<div class="question-counter" data-template="true">{{ this.model.cardIndex + 1 }}/{{ this.model.length }}</div>
<div class="swipe-container">
    <div class="swipe-0"></div>
    <div class="swipe-1"></div>
    <div class="swipe-2"></div>
</div>
<div class="variants-holder tab-bar topcoat-button-bar" data-template="true">
    <div class="variant {{ this.model.cardStatus === 'know' ? 'active' : '' }} topcoat-button-bar__item" data-id="{{ this.model.cardIndex }}" data-status="know">
        <button class="topcoat-button-bar__button"><span class="topcoat-icon-font variant-know">&#xe042;</span><span class="variant-text">know</span></button>
    </div>
    <div class="variant {{ this.model.cardStatus === 'unsure' ? 'active' : '' }} topcoat-button-bar__item" data-id="{{ this.model.cardIndex }}" data-status="unsure">
        <button class="topcoat-button-bar__button"><span class="topcoat-icon-font variant-unsure">&#xe018;</span><span class="variant-text">unsure</span></button>
    </div>
    <div class="variant {{ this.model.cardStatus === 'dontknow' ? 'active' : '' }} topcoat-button-bar__item" data-id="{{ this.model.cardIndex }}" data-status="dontknow">
        <button class="topcoat-button-bar__button"><span class="topcoat-icon-font variant-dont">&#xe03f;</span><span class="variant-text">don't know</span></button>
    </div>
</div>