<div class="card-page" data-template="true">
    <div class="topcoat-icon-font icon-arrows icon-back">&#xe04f;</div>
    <div class="holder question-holder topcoat-text-input--large show">
            <div class="question scroll-view">
                <div class="scroll-view-body">
                    {{# if (data.get('questionImg')) { }}
                    <div class="thumb-holder">
                        <div class="btn-show-image show-qst-image" data-src="{{ data.get('questionImg') }}"></div>
                        <div class="topcoat-icon-font icon-expand">&#xe038;</div>
                        <img src="{{ data.get('questionImgThumb') }}" />
                    </div>
                    {{# } }}
                    <p>{{ data.get('question') }}</p>
                </div>
            </div>
    </div>
    <div class="holder answer-holder topcoat-text-input--large">
        <div class="answer scroll-view">
            <div class="scroll-view-body">
                {{# if (data.get('answerImg')) { }}
                <div class="thumb-holder">
                    <div class="btn-show-image show-ans-image" data-src="{{ data.get('answerImg') }}"></div>
                    <div class="topcoat-icon-font icon-expand">&#xe038;</div>
                    <img src="{{ data.get('answerImgThumb') }}">
                </div>
                {{# } }}
                <p>{{ data.get('answer') }}</p>
            </div>
        </div>
    </div>
    <div class="topcoat-icon-font icon-arrows icon-next">&#xe026;</div>
</div>