<div class="page">
    <div class="th-top rad-header">Tabs Example</div>
    <div class="th-content">
    </div>
    <div class="th-bottom">
        <div class="rad-footer rad-tab-bar" style="height: 100%">
            <div class="button-go-to active" data-target="view.content_first_widget" data-animation="slide" data-index="1">
                <span class="rad-ico rad-ico-home"></span><span>First</span>
            </div>
            <div class="button-go-to" data-target="view.content_second_widget" data-animation="slide" data-index="2">
                <span class="rad-ico rad-ico-mail"></span><span>Second</span>
            </div>
            <div class="button-go-to" data-target="view.content_third_widget" data-animation="slide"  data-index="3">
                <span class="rad-ico rad-ico-star"></span><span>Third</span>
            </div>
        </div>
    </div>
</div>