<div class="rad-header">Toast Demo</div>
<div class="scroll-view">
    <div class="rad-page">
        <div class="rad-list">
            <div>
                Type:
            </div>
            <ul>
                <li>
                    <input id="w" type="radio" name="type" value="warning"><span></span> <label for="w">Warning</label>
                </li>
                <li>
                    <input id="m" type="radio" name="type" value="message"><span></span> <label for="m">Message</label>
                </li>
                <li>
                    <input id="e" type="radio" name="type" value="error"><span></span> <label for="e">Error</label>
                </li>
            </ul>
        </div>
        <div class="rad-list">
            <div>
                Gravity:
            </div>
            <ul>
                <li>
                    <input id="gc" type="radio" name="gravity" value="center"><span></span> <label
                        for="gc">Center</label>
                </li>
                <li>
                    <input id="gl" type="radio" name="gravity" value="left"><span></span> <label for="gl">Left</label>
                </li>
                <li>
                    <input id="gr" type="radio" name="gravity" value="right"><span></span> <label for="gr">Right</label>
                </li>
                <li>
                    <input id="gt" type="radio" name="gravity" value="top"><span></span> <label
                        for="gt">Top</label>
                </li>
                <li>
                    <input id="gb" type="radio" name="gravity" value="bottom"><span></span> <label
                        for="gb">Bottom</label>
                </li>
            </ul>
        </div>

        <div class="rad-bar">
            <div>Title:</div>
            <input id="title" type="text" size="10">
        </div>

        <div class="rad-bar">
            <div>Content:</div>
            <input id="content" type="text" size="40">
        </div>

        <div class="rad-separator"></div>
        <button class="toast-show rad-btn rad-success">Show toast</button>
    </div>
</div>
