<div class="modal-frame">
    <% var content = this.props.get("popup-content").content;
    if (typeof content === 'function') {
        content(data);
    } else { %>
    <%= this.props.get("popup-content").content %>
    <% } %>
</div>