.close-dialog {
    position: absolute;
    width: 36px;
    height: 36px;
    background: #335b6d url("../../../assets/image/sprite.png") -0px -154px;
    top: -18px;
    right: -18px;

    margin: 0;
    padding: 0;

    border: 1px solid #2C3E50;
    border-radius: 50%;
}

.close-dialog:active {
    background-color: #2C3E50;
}